@font-face {
  font-family: 'Steps-Mono';
  src: url('fonts/steps-mono.otf') format('otf');
  src: url('fonts/steps-mono.eot');
  /* IE9 Compat Modes */
  src: url('fonts/steps-mono-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/steps-mono-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/steps-mono.ttf') format('truetype')/* Safari, Android, iOS */
}

@font-face {
  font-family: 'Happy';
  src: url('fonts-happy/happy-times-at-the-ikob.otf') format('otf');
  /* IE9 Compat Modes */
  src: url('fonts-happy/happy-times-at-the-ikob-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts-happy/Avara-Bold_web.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts-happy/Avara-Bold_web.ttf') format('truetype')/* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avara-Bold';
  src: url('fonts-avara/Avara-Bold_web.otf') format('otf');
  /* IE9 Compat Modes */
  src: url('fonts-avara/Avara-Bold_web.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts-avara/happy-times-at-the-ikob-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts-avara/happy-times-at-the-ikob.ttf') format('truetype')/* Safari, Android, iOS */
}

body {
  text-rendering: optimizeLegibility;
  /* font-family: 'Steps-Mono'; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Avara-Bold';
  margin: 0px;
  padding: 0px;
  height: 2990px;
  /* background-color: #000000; */
  background-image: linear-gradient(#2e2e2e, black);
  color: white;

  /* background-image: linear-gradient(#d6c7c5, black); */
  /* color: rgba(255,255,255,.3);
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5); */
}

h1 {
  font-size: 3em;
  margin-top: 1em;
  font-weight: 400;
  /* color: grey; */
  color: rgba(255,255,255,.5);
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
  /* color: rgba(255,255,255,.5); */
  /* text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5); */
}

h1:hover {
  color: white;
      /* text-shadow: 0 0 15px rgba(255, 252, 0, 0.5), 0 0 10px rgba(255, 255, 255, .5);
      text-decoration: none !important; */
}

#scrollLink:hover {
  text-decoration: none !important;
}

.container {
  /* overflow: hidden; */
}


#pulled-cards {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: -12%;
  width: 100%;
  display: none;
  transform: scale(0.45);
  justify-content: space-around;
}

iframe {
  width: 800px;
  height: 1245px;
  border: none;
}

.iframe-container {
  margin: 6em;
  text-align: center;
}

.title-link {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Open Sans', sans-serif !important;
  /* font-family: 'Happy'; */

  position: relative;
  text-align: center;
  font-size: 3em;
  display: inline;
  top: 10%;
  text-decoration: none;

}

.interaction {
  font-size: 4em;
  border-bottom: double;
  padding: .3em;

}


.bottom-container {
  justify-content: center;
  display: flex;
}

#bottom {
  position: absolute;
  top: 1400px;
width: 903px;
  padding-top: 0em;
  text-align: center;
  /* border-style: solid; */
  /* border-width: 5px; */
}

.click {
  width: 60px;
}

#loader {
  margin-top: 6em;
  width: 364px;
}

a {
  color: grey;
  text-decoration: none !important;
}

a:visited {
  color: grey;
}
a:hover {
  /* text-decoration: underline !important; */
  color: white;
}

#about {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Open Sans', sans-serif;

  border: solid;
  padding: 2em;
  border-radius: 40px;
  font-size: 1.5em;
    margin-top: 2em;
}

.students-resources {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Open Sans', sans-serif;

  border: solid;
  padding: 2em;
  border-radius: 40px;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.bottom-header {
  font-weight: 900;
  /* font-family: 'Steps-Mono'; */
  font-family: 'Avara-Bold';
  /* color: rgba(255,255,255,.5);
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5); */
}


/* #reference a {
  color: violet;
}

#reference a: visited {
  color: violet;
}

#reference {
  position: relative;
  text-shadow: none;
  bottom: -990px;
  margin-left: 3em;
} */
