@font-face {
  font-family: 'Steps-Mono';
  src: url('fonts/steps-mono.otf') format('otf');
  src: url('fonts/steps-mono.eot');
  /* IE9 Compat Modes */
  src: url('fonts/steps-mono-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/steps-mono-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/steps-mono.ttf') format('truetype')/* Safari, Android, iOS */
}

body {
  font-family: 'Steps-Mono';
  margin: 0px;
  padding: 0px;
  height: 100%;
  /* background-color: #000000;
  color: rgba(255,255,255,.3);
  text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5); */
}

/* h1 {
  font-size: 3em;
  margin-top: 1em;
} */

.container {
  /* overflow: hidden; */
}


#pulled-cards {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: -16%;
  width: 100%;
  display: none;
  transform: scale(0.45);
  justify-content: center;
}

iframe {
  width: 800px;
  height: 1245px;
  margin-bottom: -675px;
  border: none;
}

.iframe-container {
  margin: 6em;
  position: relative;
}

.title-link {
  position: absolute;
  top: 178%;
  text-align: center;
  width: 800px;
  font-size: 3em;
}

#loader {
  margin-top: 6em;
  width: 300px;
}

a {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: violet;
}



/* #reference a {
  color: violet;
}

#reference a: visited {
  color: violet;
}

#reference {
  position: relative;
  text-shadow: none;
  bottom: -990px;
  margin-left: 3em;
} */
